body {
    background-color: #27282c;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}






header {
    text-align: center;
    background-color: #212225;
    height: 80px;
    padding: 0 20px;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}


hr {
    height: 2px;
    background-color: rgb(66, 66, 66);
    border: none;
    width: 80%;
    animation: onload 1s ease forwards
}

@keyframes onload {
    from {width: 0px};
    to {width: 80%};
}

.calc-container {
    display: inline-block;
    background-color: rgb(17, 17, 17);
    margin-top: 100px;
    height: 500px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 2px 10px 2px rgb(22, 22, 22);
    padding: 50px 0 50px;
}

main {
    text-align: center;
    flex-grow: 1;
    animation: forwards 1s ease fade
}

@keyframes fade {
    0% {opacity: 0;
        transform: translateY(20px);
    }
    100% {opacity: 1;
        transform: translateY(0px);
    }
}

h2 {
    margin: 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.548);
    font-family: 'Poppins';
    font-weight: 200;
}

.button {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #27282c;
    border-radius: 5px;
    margin: 0 5px;
}

.button-container {
    padding: 0;
    margin-bottom: 0;
    margin-top: 5px;
}


.calculate {
    font-size: 20px;
}

li:hover {
    filter:brightness(0.8) !important
}


.input-container {
    position: relative;
    display: inline-block;
}

input {
    border-radius: 100px;
    height: 40px;
    width: 200px;
    border: none;
    padding: 0 40px;
    font-family: 'Poppins';
    font-size: 16px;
    text-align: center;
    margin: 50px 0;
}

.rbxinputimg {
    height: 27px;
    position: absolute;
    top: 57px;
    left: 10px;
    pointer-events: none;
    filter: grayscale(100%)
}

input:focus {
    outline: none;
    animation: 1s ease rotate forwards
}




.output {
    border: #29973f solid 3px;
    background-color:rgb(14, 14, 14);
    width: 80%;
    height: 200px;
    display: inline-block;
    border-radius: 15px;
    margin-top: 0;
    word-wrap: break-word;
}

#subtext {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.637)
}

#calculated-amount {
    font-size: 60px;
    margin: 0;
    
    display: inline-block;
    font-weight: 600;
}

.rbxsign {
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='1200.000000pt' height='1280.000000pt' viewBox='0 0 1200.000000 1280.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,1280.000000) scale(0.100000,-0.100000)'%0Afill='%2329973f' stroke='none'%3E%3Cpath d='M5650 12384 c-262 -36 -527 -117 -755 -231 -65 -33 -3208 -1869%0A-3374 -1971 -182 -112 -420 -325 -570 -513 -291 -360 -478 -787 -537 -1219%0A-11 -87 -14 -454 -14 -2197 0 -1825 2 -2107 15 -2210 64 -492 267 -925 595%0A-1267 167 -174 316 -288 550 -419 63 -35 842 -489 1730 -1009 888 -520 1647%0A-961 1685 -981 522 -261 1141 -320 1715 -160 123 34 292 99 405 156 102 51%0A3445 2006 3534 2067 466 316 807 840 926 1425 46 223 45 189 45 2405 0 1758%0A-2 2114 -14 2210 -86 689 -448 1289 -991 1643 -92 60 -3477 1993 -3585 2047%0A-223 112 -481 189 -755 225 -145 19 -461 18 -605 -1z m525 -839 c180 -11 449%0A-81 594 -155 55 -27 3229 -1927 3366 -2014 258 -163 484 -467 590 -791 74%0A-225 68 -56 72 -2190 3 -1281 1 -1968 -6 -2065 -6 -80 -22 -192 -35 -250 -87%0A-381 -317 -733 -603 -923 -94 -62 -3373 -1982 -3460 -2026 -123 -62 -315 -121%0A-478 -147 -145 -23 -389 -20 -537 5 -133 23 -329 84 -433 134 -57 28 -3157%0A1881 -3370 2014 -93 59 -214 164 -284 248 -229 274 -354 582 -382 940 -7 94%0A-9 766 -6 2065 4 2139 -2 1970 72 2195 106 324 331 625 590 791 129 82 3309%0A1986 3366 2014 198 101 578 178 804 164 28 -2 90 -6 140 -9z'/%3E%3Cpath d='M5729 10585 c-175 -28 -340 -74 -464 -131 -101 -47 -2469 -1393%0A-2535 -1442 -98 -72 -275 -246 -355 -347 -192 -245 -320 -536 -364 -832 -15%0A-100 -15 -3046 0 -3146 44 -296 172 -587 364 -832 80 -101 257 -275 355 -347%0A102 -75 2397 -1419 2535 -1484 128 -60 260 -105 400 -136 139 -31 483 -33 620%0A-4 106 22 265 76 345 116 112 57 2594 1552 2668 1608 118 88 296 265 383 382%0A149 198 256 448 298 699 21 121 21 149 21 1598 0 1006 -3 1497 -11 1546 -44%0A296 -172 587 -364 832 -80 101 -257 275 -355 347 -114 84 -2483 1422 -2600%0A1468 -117 47 -258 83 -401 104 -131 20 -418 20 -540 1z m1871 -4325 l0 -1600%0A-1600 0 -1600 0 0 1600 0 1600 1600 0 1600 0 0 -1600z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: left;
    background-size: 50px;
    background-repeat: no-repeat;
    padding-left: 55px;
}

.subtile-container {
    width: 100%
}

.subtiles {
    box-sizing: border-box;
    height: 440px;
    width: 49%;
    background-color:rgb(17, 17, 17);
    display: inline-block;
    margin: 15px 8px;
    border-radius: 15px;
    box-shadow: 0px 1px 20px 1px rgba(255, 255, 255, 0.055);
    transition: background-color 0.2s ease;
    vertical-align: top;
    text-align: left;
    font-size: 50px;
    font-weight: 600;
    padding: 20px 230px 0 30px
}


.tile1 {
    margin-left: 0;
    background-image: url('../images/chr.png');
    background-position: 45% 50%;
    background-size: 1400px;
    background-repeat: no-repeat;
}
.tile2 {
    margin-right: 0;
}

.column {
    width: 900px;
    text-align: center;
    display: inline-block;
}

.subtiles:hover {
    cursor: pointer;
    background-color: #0f3517;
}

footer {
    height: 200px;
    background-color: #212225;
    margin-top: 100px;
    text-align: center;
    padding-top: 50px;
}

.footerlogo {
    width: 50px;
    filter: grayscale(1) brightness(0.7);

}

.footertext {
    margin: 0;
    font-weight: 300;
    color: #5e5e5e;
    cursor: default
}

.profilelink {
    color: #5e5e5e;
    font-weight: 500;
}

.profilelink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.highlighted {
    color:#29973f;
    font-weight: 700;
}

.logoimg {
    position: absolute;
    width: 50px;
    top:50%;
    transform: translateY(-50%);
    left: 20px;
    z-index: 5;
}


.footerlogoimg {
    width: 50px;
    filter: grayscale(100%);
}

@media screen and (max-width: 1034px) {
    .column {
        width: 80%;
    }
    .subtiles {
        width: 48.5%;
        font-size: 43px;
        padding-right: 140px;
    }

    #calculated-amount {
        font-size: 44px;
        margin-top: 20px;
    }
    .rbxsign{
        background-size: 40px;
        padding-left: 43px;
    }
}

@media screen and (max-width: 840px) {
    .column {
        width: 80%;
    }
    .subtiles {
        width: 100%;
        height: 300px;
        margin: 15px 0 0 0;
    }
    .subtiles {
        background-size: 160px;
        background-position: center;
    }
    .tile1 {
        background-size: 1000px, 160px;
        background-position: 35% 50%, center;
    }
    
    #calculated-amount {
        font-size: 34px;
        margin-top: 20px;
    }
    .output {height:180px}
    .calc-container{height: 460px}
    .rbxsign{
        background-size: 32px;
        padding-left: 35px;
    }
    .column .calc-container h1 {
        font-size: 40px;
        padding: 0 30px;
    }
    .column .calc-container {
        padding: 50px 0;
        margin-top: 50px;
    }
}

@media screen and (max-width: 680px) {
    #calculated-amount {
        font-size: 28px;
    }
    .rbxsign{
        background-size: 25px;
        padding-left: 28px;
    }
}

@media screen and (max-width: 535px) {
    #calculated-amount {
        font-size: 22px;
        font-weight: 400; 
    }
    .output {height:150px}
    .subtiles {
        font-size: 32px;
        height: 250px
    }
    main .tax-column .calc-container {
        height: 480px;
    }
}


@media screen and (max-width: 460px) {
    


    .subtiles {
        background-size: 100px;
        background-position: center;
    }
    .tile1 {
        background-size: 600px, 100px;
        background-position: 35% 50%, center;
    }
    .button {
        width: 160px;
        display: block;
        margin: 10px auto 0 auto;
    }
    ul {
        margin-top: 20px;
    }
    input{
        margin: 30px 0 20px 0;
        width: 160px;
        padding-right: 20px;

    }
    .rbxinputimg {
        top: 36px;
    }
    #subtext {margin: 10px 0 0 0}
    .output {height: 120px}
    #calculated-amount {
        font-size: 18px;
    }
    .rbxsign {
        background-size: 20px;
        padding-left: 22px;
    }
    .subtiles {
        height: 150px;
        font-size: 24px;
        padding-right: 30px;
    }
    .tax-column .calc-container {
        height: 440px !important;
    }
}


@media screen and (max-width: 350px) {
    #calculated-amount {
        font-size: 16px; 
        font-weight: 300; 
    }

}

.footertext-small {
    font-size: 10px;
    padding: 10px 0;
}

.header-pages li{
    color: white;
    list-style: none;
    font-size: 20px;
    font-weight: 200;
    float: left;
    margin-left: 50px;
    height: 100%;
    position: relative
}
.header-pages li p {
    margin-top: 25px;
}

.header-pages li a{
    color: rgba(255, 255, 255, 0.274);
    
}

.header-pages li a:hover {
    color: white;
}

.header-pages {
    display: inline-block;
    position:absolute;
    left: 0;
    margin: 0;
    height: 100%;
    padding-left: 60px;
}

.index-title {
    font-size: 72px;
    margin: 70px 0 0;
}

.index-tiles div {
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: #00000028 0px 0px 10px 1px;
    transition: transform 0.2s ease, filter 0.2s ease;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    line-height: 1.2;
    filter: brightness(0.8);
}

.index-tiles {
    margin-top: 50px;
}

.index-tiles div:hover {
    transform: scale(1.01);
    filter: brightness(1);
}
.index-tiles a{
    display: inline-block;
    margin: 15px;
}
.index-tax-tile{
    background-image: url("../images/tile1.png");
}
.index-devex-tile{
    background-image: url("../images/tile2.png");
}

.index-tiles div p{
    margin: 30px 0 0 30px;
}
.calc-container h1{
    font-size: 50px;
    margin: 0 0 20px;
    padding: 0;
    font-weight: 200;
}

.devex-column .rbxinputimg {
    top: 17px
}

.devex-column .input-container input {
    margin-top: 10px;
}

.devex-column .calc-container {
    padding-bottom: 0;
    height: 950px
}

.devex-column .output {
    position: relative;
}

.devex-column #calculated-amount {
    margin-top: 10px;
}

.dollar-sign {
    color: #29973f
}
.devex-info {
    text-align: left;
    font-weight: 200;
    font-size: 16px;
    padding: 20px 100px;
}
.devex-info ol {
    padding-left: 15px;
    margin: 0;
    pointer-events: none;
    cursor: text;
}

.devex-info ol li:hover {
    color:white
}

.devex-terms {
    color: rgb(43, 177, 255);
    font-weight: 500;
    margin-top: 30px;
    display: inline-block;
    
}

.devex-terms:hover {
    border-bottom: 2px solid rgb(43, 177, 255);
}

@media screen and (max-width:550px){
    .header-pages li {
        font-size: 16px;
        margin: 30px 0 0 20px;
    }
    .header-pages {
        padding-left: 80px;
    }
    .index-title {
        font-size: 50px;
    }
    .column h2 {
        font-size: 12px;
    }
    .index-tiles div {
        width: 300px;
        height: 300px
    }
    .column .index-tiles div p {
        font-size: 48px;
        margin: 20px 0 0 20px;
    }
    .header-pages li p {
        margin: 0;
    }
}

@media screen and (max-width: 435px) {
    .logoimg {
        position: relative;
        left: 0;
        top: 20px;
        transform: translateY(0);
    }
    header {
        height: 200px;
    }
    .header-pages {
        height: 100px;
        padding: 0;
        display: block;
        width: 100%;
        text-align: left;
        margin-top: 33px;
    }
    .header-pages li {
        
        float: none;
        margin: 0;
        height: 55px;
        position: relative;
        cursor: pointer;
    }
    .header-pages li a {
        
        position: absolute;
        width: 100%;
        height: 100%;
        
    }
    .header-pages li:hover {
        background-color: #21222544;
    }
    .header-pages li p {
        padding: 0 0 0 20px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }

    .index-tiles div {
        width: 100%;
        height: 250px;
    }

    .index-tiles div p {
        font-size: 42px !important;
    }

    .index-tiles {
        margin-top: 20px;
    }
    .column {
        width: 100%;

    }
    .index-title {
        margin-top: 30px;
    }
    .footertext-small {
        width: 70%;
        margin: auto;

    }
    footer {
        margin-top: 50px;
    }
    .tax-column {
        padding: 0 5%;
        width: 90%
    }
    .devex-column {
        padding: 0 5%;
        width: 90%
    }
    .devex-info span {
        display: none;
    }
    .devex-column .calc-container {
        height: 700px
    }
}

@media screen and (max-width: 1000px) {
    .devex-info {
        font-size: 14px;
        padding: 20px 70px
}
}

@media screen and (max-width: 603px) {
    .tax-column .calc-container {
        height: 520px
    }
    .devex-info {
        font-size: 12px;
        padding: 20px 50px
    }
}

@media screen and (max-width: 385px) {
    .devex-column .calc-container {
        min-height: 800px;
        height: auto
    }
}